.prev,
.next {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #ffbe33;
    color: #fff;
    background-size: 60%;
    outline: none;
    margin: 0 5px;
}
.header-button{
    margin: 50px 0 0 110px;
}
@media (max-width:480px) {
    .header-button {
        margin: 50px 0 0 8px;
    }
}
.nav-link.active {
    color: #ffbe33 !important;

}
.nav-link.active:hover{
    color: #ffbe33 !important;
}
.move-down{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #222831;
}

